@import "../../globals.ios";
@import "./fab";

// iOS FAB Button
// --------------------------------------------------

/// @prop - Border radius of the FAB button
$button-ios-fab-border-radius:                      50% !default;

[ion-fab] {
  border-radius: $button-ios-fab-border-radius;
}

// iOS does not use the button effect
ion-button-effect {
  display: none;
}
